$white: #ffffff;
$black: #000000;
$black-2: #1b1b1b;
$border: #1b1b1b66;
$bg: #d7d9d6;
$bgTrans: #d7d9d600;
$text: #27241d;
$text-2: #8b8c8a;
$orange: #f17427;
$red: #f96066;
$light-blue: #90afec;
$grey: #c4c4c4;
$grey-1: #e5e5e5;
$grey-2: #f5f5f7;
$grey-3: #d3d9e5;
$shadow-blue: -10px 35px 54px rgba(144, 175, 236, 0.1);
$shadow-green: -10px 35px 54px rgba(63, 195, 128, 0.15);

$z-indexes: (
  "noscript",
  "preloader",
  "cursor",
  "navigation",
  "content",
  "canvas",
  "4",
  "3",
  "2",
  "1"
);

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
